i.books-checkout {
    &:hover {
        cursor: pointer;
    }
}

div.books-checkout {
    & > div.ngdialog-content {
        padding: 30px 20px !important;
        text-align: center;

        & > form {
            & > button,
            & > select,
            & > span {
                width: 100%;
                display: block;
                margin-bottom: 10px;
            }

            & > button,
            & > select {
                font-size: 1em;
                font-family: 'Roboto';
                padding: 5px 10px;
                border-radius: 1px;
                border: 1px solid rgba(0, 0, 0, 0.1);
                width: 100%;
                margin-bottom: 10px;
            }

            & > button {
                margin-bottom: 0;
            }
        }
    }
}
