books-filter {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

    & > button,
    & > input,
    & > select {
        font-size: 1em;
        font-family: 'Roboto';
        padding: 5px 10px;
        border-radius: 1px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-right: 0px;
    }

    & > input {
        display: block;
        min-width: 0px;

        &[type='date'] {
            min-width: auto;
        }
    }

    & > select {
        display: block;
    }

    & > button {
        display: block;
    }

    button {
        border-right: 1px solid rgba(0, 0, 0, 0.1);
    }
}
