body,
html {
    background-color: #FFF;
    height: 100%;
    color: #333;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
}

core-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}
