div.books-list {
    margin-bottom: 20px;

    & > div.list-header {
        font-size: 0.9em;
        font-weight: 700;
        text-align: center;
        padding: 10px 0px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
}
