<div class="row list-row" ng-if="$ctrl.data">
    <div class="col-md-4 list-column title">{{ $ctrl.data.name }}</div>
    <div class="col-md-2 list-column author">{{ $ctrl.data.author }}</div>
    <div class="col-md-2 list-column category">{{ $ctrl.data.category.name }}</div>
    <div class="col-md-1 list-column published">{{ $ctrl.data.published }}</div>
    <div class="col-md-1 list-column availability" ng-if="$ctrl.data.user">{{ $ctrl.data.user.username }}</div>
    <div class="col-md-1 list-column availability" ng-if="!$ctrl.data.user"><i class="material-icons rented">done</i></div>
    <div class="col-md-2 list-column actions">
        <div>
            <i class="material-icons">edit</i>
            <books-delete data="$ctrl.data"></books-delete>
            <books-checkout ng-if="!$ctrl.data.user" data="$ctrl.data.user"></books-checkout>
        </div>
    </div>
</div>
